1: Install Libraries

In [119]:
#installing required libraries
!pip install Faker pandas tabulate seaborn

Requirement already satisfied: Faker in c:\users\sophi\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (33.3.0)
Requirement already satisfied: pandas in c:\users\sophi\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (2.2.3)
Requirement already satisfied: tabulate in c:\users\sophi\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (0.9.0)
Requirement already satisfied: seaborn in c:\users\sophi\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (0.13.2)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\sophi\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from Faker) (2.8.2)
Requirement already satisfied: typing-extensions in c:\users\sophi\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from Faker) (4.12.2)
Requirement already satisfied: numpy>=1.22.4 in c:\users\sophi\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2.2.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\sophi\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sophi\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2024.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\sophi\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from seaborn) (3.10.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\sophi\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\sophi\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\sophi\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.57.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\sophi\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\sophi\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\sophi\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\sophi\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.3)
Requirement already satisfied: six>=1.5 in c:\users\sophi\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from python-dateutil>=2.4->Faker) (1.16.0)

[notice] A new release of pip is available: 23.3.2 -> 25.0.1
[notice] To update, run: C:\Users\sophi\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

2. Generate Data using Faker library

In [120]:
#importing, creating and initializing faker generator or object
from faker import Faker
fake = Faker()

In [121]:
# Define a dictionary of expense categories and their subcategories.
categories = {
    "EMI": ["Car", "Mobile", "Washing machine", "Air conditioner"],
    "Bills": ["Water bill", "Electricity bill", "Mobile Recharge", "Wifi bill", "Gas bill"],
    "Subscription": ["Netflix", "Amazon Prime", "Spotify", "Zomato"],
    "Transportation": ["Train", "Flight", "Bus", "Ola"],
    "Insurance": ["Health insurance", "Life insurance", "Auto insurance"],
    "Shopping": ["Shopping expense"],
    "Electronics": ["Laptop", "Mobile", "Tablet"],
    "Groceries": ["Vegetables", "Fruits", "Grains & Bread", "Diary & eggs", "Spices", "Beverages"],
    "Medical Expense": ["Medicine", "Consultation Fee"]
}

# Define a list of payment modes.
payment_modes = ["UPI", "Cash", "Debit card", "Credit card"]

In [122]:
#creating expense table for a month
import pandas as pd
import random
from datetime import date

def gen_exp_data(entries, year,month, start_date,end_date):
    data = []
    start_date = date(year, month, start_date)
    end_date = date(year, month, end_date)

    for _ in range(entries):
        category = random.choice(list(categories.keys()))
        description = random.choice(categories[category])

        expense = {
            "Date": fake.date_between(start_date, end_date),
            "Category": category,
            "Payment_Mode": random.choice(payment_modes),
            "Description": description,
            "Amount": round(random.uniform(50, 1000), 2),
            "Cashback": 0
        }

        if expense["Payment_Mode"] in ("Cash", "Debit card","UPI"):
            expense["Cashback"] = 0
        else:
            expense["Cashback"] = round(random.uniform(1, 20), 2)

        data.append(expense)


    # Sort the data by date before creating the dataframe
    data.sort(key=lambda x: x['Date'])

    return pd.DataFrame(data)

In [123]:
#providing inputs for each month (number of entries, year, month, start_date, end_date)
exp_data1 = gen_exp_data(100,2024,1,1,31)
exp_data2 = gen_exp_data(100,2024,2,1,29)
exp_data3 = gen_exp_data(100,2024,3,1,31)
exp_data4 = gen_exp_data(100,2024,4,1,30)
exp_data5 = gen_exp_data(100,2024,5,1,31)
exp_data6 = gen_exp_data(100,2024,6,1,30)
exp_data7 = gen_exp_data(100,2024,7,1,31)
exp_data8 = gen_exp_data(100,2024,8,1,31)
exp_data9 = gen_exp_data(100,2024,9,1,30)
exp_data10 = gen_exp_data(100,2024,10,1,31)
exp_data11 = gen_exp_data(100,2024,11,1,30)
exp_data12 = gen_exp_data(100,2024,12,1,31)

In [124]:
#Concatenating all 12 months data into single dataframe
exp_data=pd.concat([exp_data1,exp_data2,exp_data3,exp_data4,exp_data5,exp_data6,exp_data7,exp_data8,exp_data9,exp_data10,exp_data11,exp_data12],)

#To change the starting index from 0 to 1
exp_data.index = pd.RangeIndex(start=1, stop=len(exp_data)+1, step=1)

#returns the generated data
exp_data.head()

         Date        Category Payment_Mode   Description  Amount  Cashback
1  2024-01-01  Transportation  Credit card        Flight  652.98      1.89
2  2024-01-01    Subscription          UPI  Amazon Prime  307.73      0.00
3  2024-01-01    Subscription          UPI       Netflix  702.27      0.00
4  2024-01-01           Bills   Debit card      Gas bill  405.42      0.00
5  2024-01-01    Subscription   Debit card       Netflix  693.39      0.00

In [125]:
#Converting dataframe into CSV file
exp_data.to_csv("expense_data.csv")